<a href="https://colab.research.google.com/github/diaanis/fundamentosCyP1157.ipynb/blob/main/fundamentosCyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = 'Jose'  # Tipo de dato String (cadena de caracteres)

print( nombre)

Jose

#Tipo de dato en Python

- str --> String cadena de caract√©res.
- int --> Numero enteros
- float --> Numeros con notaci√≥n de punto flotante 
- complex --> Numeros complejos 
- bool -->Boleano (True or False)
- byte --> 8 bits 

### Tipos de datos estructurados (compuestos)
- list --> Listas 
- dict --> diccionarios
- set y frozenset --> Conjuntos 
- tuple --> Listas no mutables

In [ ]:
import sys
edad = 19 
print ( "Tu edad es :" , edad) # al final de una l√≠nea de c√≥digo 
# este es un comentario de linea simple

"""
comentario de multiple l√≠nea
En lenguaje C, C ++ y Java el comentario de multiple linea es con 
/* ..... */

El comentario de una sola linea es con :

//

Aqui puedes explicar en prosa el segmento de un codigo para futura referencia

"""
# tipos de dato numerico int y float

print (sys.getsizeof(edad))
#el tipo de dato INT utiliza diferente cantidad de bits segun el 
# leg de programa por ejemplo en C utilizaria 16 bits

edad = edad + 1

print( edad )

estatura = 1.56
print(sys.getsizeof(estatura))
estatura = estatura + 0.1
print( estatura )
print(round(estatura,2))


edad += 1 #edad = edad + 1 
print( "Tu edad es :", edad)
edad /=2 # edad = edad / 1 
print("La mitad de tu edad es :", edad)

edad = 21
#volver a calcular la mitad de la edad 
#parte entera
edad = edad // 2
print ( "La mitad de tu edad es", edad )

#En la mayoria de los leng no permite operaciones entre 
# diferentes tipos de datos, en python 

numero = edad / 2 
print( numero)

numero *= 3
print(numero )

numero = 5.0
numero = numero **3 #El doble asterisco es potencia y el numero de a lado es a que potencia se va a elevar  
print( numero)

#Operador modulo 
numero = 21
print(numero / 2) # asi se plantea la division en print 
print ( numero//2)

#Operador modulo da como resultado el residuo de una division entera 
print ( numero % 2)

numero= 24 
print("Residuo de 24 / 5:", numero % 5)


#Operadores relacionales(l√≥gicos)
print ( numero % 2== 0 )
#Diferencia
print("24 es diferente que 23=", numero !=23)

print( "24 es mayor que 23=", numero > 23 )

print("24 es menor que 23=", numero < 23 )

print("24 es menor o igual que 23", numero <=23
      )

print("El tipo de dato de la var numero es: ", type(numero/2.0))

Tu edad es : 19
28
20
24
1.6600000000000001
1.66
Tu edad es : 21
La mitad de tu edad es : 10.5
La mitad de tu edad es 10
5.0
15.0
125.0
10.5
10
1
Residuo de 24 / 5: 4
True
24 es diferente que 23= True
24 es mayor que 23= True
24 es menor que 23= False
24 es menor o igual que 23 False
El tipo de dato de la var numero es:  <class 'float'>

In [ ]:
nombre = "diana"
carrera = "Ingenieria en computacion"
frase = """ El conocimiento 
me persigue,..
pero
yo soy rapido
"""

print(nombre)
print(carrera)
print(frase)

#La funcion type de Python te devuelve el tipo de dato de una variable 
print(type(nombre))

paterno= str("Moreno")
print( paterno)

diana
Ingenieria en computacion
 El conocimiento
me persigue,..
pero
yo soy rapido

<class 'str'>
Moreno

#Silcing(rebanado) de cadenas
Permite seleccionar subcadenas con el operador
###[inicio : stop : incremento]
El stop no se incluye, es por eso que debemos agregar una posici√≥n extra.

### Slicing y valores por defecto 

inicio por defecto siempre ser√° 0
stop: tama√±o del arreglo (index

incremento: es q (indexado positivo)

In [ ]:
carrera = "Ingenier√≠a en computaci√≥n"
print(carrera[0:10:1])
print(carrera[14:25:1])
#lo mismo pero con indexado negativo
print(carrera[-11: -1 : 1])
print( carrera [:10:])
print(carrera[14:25:])
print(carrera[ -11: :1])
print(carrera[-11: -1 : 1])



#SOLUCION PREVIA 
print("--------")
print( carrera[-11 : -1 : 1])
print( carrera [-11 : : 1])

#Ejercicio para ver incremento 
print( carrera[0:10:2]) #Incremento es los saltos que se daran desde el inicio al stop
print( carrera[-1:-12-1]) #Imprimir una palabra al reves

Ingenier√≠a
computaci√≥n
computaci√≥
Ingenier√≠a
computaci√≥n
computaci√≥n
computaci√≥
--------
computaci√≥
computaci√≥n
Igne√≠

#String y sus metodos 
#Todos los tipos de dato en Python son objetos(CLASES de la POO)
###Lo cual significa que tienen atributos y m√©todos
##dir() y help() funciones para obtener ayuda del lenguaje Python 

###dir muestra las funciones de un tipo de dato como resumen 

###Help muestra la misma ayuda pero a detalle 

Metodos que inician con doble guion bajo, son privados de uso interno de la clase y no deberiamos de usarlo

Todos los demas son para uso exterior (usuario)

In [ ]:
frutas =  "  limon , fresa, manzana  , aguacate  "
nombre = "diana"
print(frutas)
dir(frutas) 

print( nombre.capitalize() )
print( nombre.upper() )
print(frutas.replace( 'a' , '4' ).replace('e','3').upper()) 
frutas= frutas.replace( 'a' , '4').replace('e','3').upper()
print(frutas)
print(".-.-.-.-.-.-.-.-.-.-.-.-.-.-.")
frutas =" limon , fresas, manzana , aguacate "
print( frutas.strip())
print( frutas.split()) #Es separado cada elemento por el espacio 
print( frutas.split(',') )
print( frutas)

  limon , fresa, manzana  , aguacate
Diana
DIANA
  LIMON , FR3S4, M4NZ4N4  , 4GU4C4T3
  LIMON , FR3S4, M4NZ4N4  , 4GU4C4T3
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
limon , fresas, manzana , aguacate
['limon', ',', 'fresas,', 'manzana', ',', 'aguacate']
[' limon ', ' fresas', ' manzana ', ' aguacate ']
 limon , fresas, manzana , aguacate

In [ ]:
dir(str)
help(str.find)#Asi busco el metodo y me dice como se usa

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

#String y caracteres de escape

"Diana"
- \" ---> "
- \' ---> '
- \n ---> Salto de linea(Tecla enter)
- \t ---> tabulador espacios a la izq
- \uxxxx ---> caracteres unicode 16 bits
- \Uxxxxxxxx --> unicode extendido 4 bits

In [ ]:
print("\"diana\" ")
nombre = "\"Diana\" "
print( nombre )
carrera = "Ingenieria \nen \nComputaci√≥n" 
print( carrera )
carreras = "Ingenieria \n\ten \n\t\tComputaci√≥n" 
print( carreras)
print("\u0065")
print("\u0444")
print("\u0620")
print("\U00010057")
print("\U0001F60E")
print("\U0001F602")
print("\U0001F9A0")

"diana"
"Diana"
Ingenieria
en
Computaci√≥n
Ingenieria
	en
		Computaci√≥n
e
—Ñ
ÿ†
êÅó
üòé
üòÇ
ü¶†

#Funcion print

### Se emplea para desplegar informaci√≥n en la salida estandar Normalmente en un monitor.

-Formas de usar print
-El argumneto por defecto de print(end)-format()
-operador"f"

In [ ]:
nombre = "Diana"
edad = 18
casado = False 
estatura = 1.57

"""
Nombre: Diana
    Edad:18 
    Esta casado : False
    Estatura en metros : 1.67
    """

#1.-Con comas.-Concatena un casting(conversion a string autom√°tica)
#agrega un espacio
print( nombre, edad, casado, estatura )
print("Nombre: " + nombre + "\n\tEdad: "+ str(edad) +" "+str(casado) +"\n\tEsta casado :" )

#2.- con el simbolo de "+"
#concatenacion en crudo 
print( nombre+ str(edad)+ str(casado)+ str(estatura) )

#3.- Dando formato a la salida con format()
print("\nCon la funcion format()")
print(" Nombre : {3}\n\tEdad: {2}\n\tEsta casado : {1}\n\testatura en metros: {0}".format(nombre,edad,casado,estatura))

#4.- con el operador f" "
print("Con el operador f\" \"")
print(f" Nombre : { nombre }\n\tEdad: { edad }\n\tEsta casado : { casado }\n\testatura en metros: {estatura }")

#Como manejar el ARGUMENTO END 
print(f"Hola {nombre}", end="")
print(", Como estas?" , end="\n")

Diana 18 False 1.57
Nombre: Diana
	Edad: 18 False
	Esta casado :
Diana18False1.57

Con la funcion format()
 Nombre : 1.57
	Edad: False
	Esta casado : 18
	estatura en metros: Diana
Con el operador f" "
 Nombre : Diana
	Edad: 18
	Esta casado : False
	estatura en metros: 1.57
Hola Diana, Como estas?

# con una sola funcion print POR LETRA , escribir su primer nombre
k  k
k k
k
k k
k   k

# datos de entrada

Para solicitar los datos del usuario se emplea la funci√≥n input, la cual regresa siempre, un tipo de dato string.

In [ ]:
nombre = input("Ingresa tu nombre")
print("Tecleaste:" , nombre )

Ingresa tu nombreDiana
Tecleaste: Diana

# ¬øC√≥mo capturar datos num√©rico?

Para ello se hace una conversi√≥n entre tipos...
casting... consiste en llamar al constructor de la clase deseada

## Ejemplo convertir el string "2" en numero 
### num = int( "2")

In [ ]:
entrada = input("Dame tu edad: ")
edad = int(entrada)
edad += 1 # edad = edad + 1
print("Tu edad es:", edad )

Dame tu edad: 4
Tu edad es: 5

In [ ]:
# lo mismo pero con menos codigo 

edad = int(input("Dame tu edad:"))
print("Tu edad es", edad+1 )

Dame tu edad:4
Tu edad es 5

In [ ]:
estatura = float(input("Dame tu estatura:"))
print("Tu estatura es:", estatura+0.1 )

Dame tu estatura:1.47
Tu estatura es: 1.57

In [ ]:
# inputs de booleans

casado = bool(int(input("Soltero (0) casado (1)")))
print( "casado=", casado)

Soltero (0) casado (1)0
casado= False

#Tipos de datos estructurados de pyton 
1. Listas
2. Tuplas
3. Diccionarios 
4. Conjuntos(opcional)

# Listas 

- Tipo de dato que agrupa variables o valores.
- Estructura secuencial()
- Se declara de dos formas#
- usando []
- usando list ()
- usando un generaador 
- Puede contener tipos de dato diversos (En otros lenguaje de prog. eso no es podible de forma directa)
- Los elementos internos se seleccionan con []
- Soporta slicing 
- SON MUTABLES
- GENERADORES[var for x in range(10)]
- Al ser una clase contiene muchos m√©todos √∫tiles

|

In [ ]:
numeros = [10, 5, 2 , 3 , 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20 
print(numeros)
numeros[-1  ] = 33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
# Tipos diversos 

cosas = [12, 2 , True, "Jos√©" , 1.57 , ["pera", "kiwi", "uva"]]
print(cosas)
print( cosas[1] )
print( cosas [4] )
print( cosas[5] )
print( cosas[5][1] )
print( cosas[3][1:3] )
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'Jos√©', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOS√â', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros= [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# slicing 
# 1.- 4 al 8?
print(numeros[3:8])
# 2.-  [9,10]?
print(numeros[8:10])
print(numeros[-3:-1])
#3.- La lista al reves 
print(numeros[ ::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# crear una lista con un generador
numeros = [ x*3 for x in range(101) ] # ese asterisco por tres hace que vayan de tres en tres 
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# Funcion range()
Tiene los mismos componetes que slicing ,
 ini, stop, incremento 

range(1,101,1)

In [ ]:
numeros = [ x for x in range(50, 101, 2) ]
print(numeros)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# M√©todos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

- append, anexion a una lista 
- clear, deja lista vacia
- copy, crea una copia de referencia de la lista 
- count, cuenta eleemntos 
- extend, concatenaa listas 
- index, recibe un valor, lo busca y en la primer coincidencia te dice en que indice esta 
- insert, posiscion donde quieres insertar un valor, el valor que quieras insertar 
- pop,  toma el elemento de la derecha, lo quita y lo regresa 
- remove, va a quitar el elemento ymueve a la izquierda 
- reverse, va a poner en orden inverso la lista 
- sort, ordenar de mayor a menor

In [ ]:
numeros = [ 4,1,15,8,22,34,50 ]
print(numeros)
numeros.append(99) #agregar numero
print(numeros)



frutas = ["uvas", "kiwi", "manzana" ]
copia = frutas
print(frutas)
print(copia)
frutas.append(" naranja")
print(frutas)
print(copia)

colores = ["rojo", "azul", "blanco"]
copia2= colores.copy()
print(colores)
print(copia2)
colores.append("verde ")
print(colores)
print(copia2)

print("numero de veces que aparece el 15=", numeros.count(15))

#extend

nombre = ["jose", "pedro", "karina"]
otrosNombres = ["josue", "diana", "dalia"]
nombres = nombre + otrosNombres
print(nombre)
print(otrosNombres)
print("jose esta en la posicion:", nombre.index("jose"))
otrosNombres.insert(4, "Espiritu santo")
print(otrosNombres)

#pop
resultado = otrosNombres.pop
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', ' naranja']
['uvas', 'kiwi', 'manzana', ' naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde ']
['rojo', 'azul', 'blanco']
numero de veces que aparece el 15= 1
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
jose esta en la posicion: 0
['josue', 'diana', 'dalia', 'Espiritu santo']
['josue', 'diana', 'dalia', 'Espiritu santo']
<built-in method pop of list object at 0x7f0bded9cb90>

# Tuplas
### Caracrcteristicas de las tuplas 
- datos agrupados 
- Se declara usando #
       - ()
       - tuple()
-Estructura secuencial, indexada desde 0 
- pueden tener de 0 a n elementos 
- NO SON MUTABLES (NO SE PUEDEN MODIFICAR NI ELIMINAR)
- Son buenas para almacenar informacion de consulta. 
- Pueden almacenar informacion de diferentes tipos de datos.
- Pueden estar anidadas 
- Tienen metodos utiles

In [15]:
info = ("diana23", "dios1234", "123.232.1.12")
print(info)
print(info[1])
#info[ 1 ] = "patito 23" es algo que no se puede hacer 

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])

cosas = (info, numeros, )
print(cosas)
print(cosas[1][5:11:1])
print(cosas[0][2][4:7])
print(cosas[0][2][-8:-5])

('diana23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('diana23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# metodos de los tuplas 
### son los mismo de las listas pero los que no involucran mutabilidad

In [16]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios 
### caracateristicas de los diccionarios 

- Agrupan datos pero de forma lineal
- se declaran con :
    - {}
    -dict()
- Formado por pares del tipo llave:valor, donde:
     - llave es de tipo string(siempre)
     - Valor puede ser cualquier ripo de datos, incluyendo los diccionarios. 
- Se seleccionan con la llave de la forma [ "id_llave"]
- Son mutables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript(JS)

In [29]:
alumno = { "nombre" : "Diana" }
print( alumno)
print( alumno["nombre"])
alumno = { "nombre": "Diana" , "nc":"2129229292" , "edad":18}
print( alumno["edad"])
print("Edad del alumno =" , alumno["edad"])
print(alumno["nombre"].upper())

alumno2 = dict() # {}
alumno2["nombre"] = "Diana"
print(alumno2)
alumno2["nc"] = "2129229292"
alumno2["edad"] = 18
print(alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'Diana'}
Diana
18
Edad del alumno = 18
DIANA
{'nombre': 'Diana'}
{'nombre': 'Diana', 'nc': '2129229292', 'edad': 18}
{'nombre': 'Diana', 'nc': '2129229292', 'edad': 19}

In [62]:
cliente = { "id":"CT2121" ,
           "nombre" : "Diana Moreno S√°nchez" ,
           "telefonos" : "casa=554456565 cel=0445567767"}

print(cliente)

cliente = {"id":"CT2121",
           "nombre":"Jos√© Eduardo Pedroza Rosales",
           "Tel√©fono":"casa=5544878787 cel:044556767677" }
print(cliente)    
cliente = {"id":"CT2121" ,
           "nombre": {
               "nombres":["Jos√©","Eduardo"],
               "paterno":"Pedroza",
               "materno":"Rosales"
              } ,
           "Tel√©fono": {
               "casa":"5544878787",
               "trabajo":"55-443-3232",
               "celular":"044556767677"
            } 
            }
print(cliente["Tel√©fono"]["casa"])

print(cliente)    
cliente = {"id":"CT2121" ,
           "nombre": {
               "nombres":["Jos√©","Eduardo"],
               "paterno":"Pedroza",
               "materno":"Rosales"
              } ,
           "Tel√©fono": {
               "casa":"5544878787",
               "celular":"044556767677"
            } ,
           "Productos":{
                        "ahorro":{ "numero_cuenta":"7788", "ahorro":2500.5},
                        "t_credito":[
                                     {"tipo":"debito", "saldo":10000.5},
                                     {"tipo":"credito preferente","limite":250000.5},
                                     {"tipo":"lite","limite":15000.5}
                        ] ,
                       "direccion":{
                           "calle":"Av central",
                           "numero":1245,
                           "colonia":"impulsora",
                           "delegaci√≥n":"neza",
                           "estado": {
                               "clave de estado":15,
                               "nombre_corto":"EdoMex",
                               "nombre":"Estado de M√©xico"
                           }
                       },
                      
            } #Esto es una lista debido a los productos que maneja un banco
            
            }
print(cliente)


print(cliente)

{'id': 'CT2121', 'nombre': 'Diana Moreno S√°nchez', 'telefonos': 'casa=554456565 cel=0445567767'}
{'id': 'CT2121', 'nombre': 'Jos√© Eduardo Pedroza Rosales', 'Tel√©fono': 'casa=5544878787 cel:044556767677'}
5544878787
{'id': 'CT2121', 'nombre': {'nombres': ['Jos√©', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'Tel√©fono': {'casa': '5544878787', 'trabajo': '55-443-3232', 'celular': '044556767677'}}
{'id': 'CT2121', 'nombre': {'nombres': ['Jos√©', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'Tel√©fono': {'casa': '5544878787', 'celular': '044556767677'}, 'Productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 't_credito': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}], 'direccion': {'calle': 'Av central', 'numero': 1245, 'colonia': 'impulsora', 'delegaci√≥n': 'neza', 'estado': {'clave de estado': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de M√©xico'}}}}
{'id': 'CT2121', 'nombre': {'nombres': ['Jos√©', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'Tel√©fono': {'casa': '5544878787', 'celular': '044556767677'}, 'Productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 't_credito': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}], 'direccion': {'calle': 'Av central', 'numero': 1245, 'colonia': 'impulsora', 'delegaci√≥n': 'neza', 'estado': {'clave de estado': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de M√©xico'}}}}