<a href="https://colab.research.google.com/github/diaanis/fundamentosCyP1157.ipynb/blob/main/fundamentos3CyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Repetición:

Este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientras ciertas condiciones se cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programacion:

- Desde.. hasta (estructura for)
- Haz mientras (estructura While)
- Haz y luego validez mientras(estructura Do-While)

# FOR con Python

'''
for j in range(10):
  print(f"Hola{j}")

  # FOR con Leng C y/o JAVA
        printf("Hola i \n", j);
    }
    '''

    En todos los lenguajes de programacion existe un tipo esencial de for, conocido de **for-each**

    #for aech en Python
'''
for color in colores:
 print(f"Este es el color { color }")
'''

In [ ]:
#funcion range()
#range(<INICIO>,<STOP>,<INCREMENTO>)
X =range(0,10,2)
print(X)

range(0, 10, 2)

In [ ]:
 for j in range(10): 
    print(f"Hola {j}")

print("-.-.-.-.-.")
for j in range(0,10,2):
    print(f"Hola {j}")
frutas = ["Uva","aguacate","pera","manzana","sandia"]
print(frutas[0])
print(frutas[1])
print(frutas[2])
print(frutas[3])
print(frutas[4])

print("---Frutas--")
for index in range (5):
    print(frutas[index])

Hola 0
Hola 1
Hola 2
Hola 3
Hola 4
Hola 5
Hola 6
Hola 7
Hola 8
Hola 9
-.-.-.-.-.
Hola 0
Hola 2
Hola 4
Hola 6
Hola 8
Uva
aguacate
pera
manzana
sandia
---Frutas--
Uva
aguacate
pera
manzana
sandia

+
++
+++
++++
+++++
++++++

In [5]:
#Clase Jueves 25 Nov
for x in range(1,20,1):
    print(x)
print("Fin del programa")

for x in range(19,0,-1):
    print(x)
print("Fin del programa")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Fin del programa
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Fin del programa

In [11]:
#ejemplo 3.3
CUECER=0
NUM=0
N=int(input("Un valor numérico : "))
for I in range(1,N+1,1):
    N=int(input("Un valor numérico : "))
    if N ==0:
        CUECER+1

print("CUECER=",CUECER)

Un valor numérico : 4
Un valor numérico : 0
Un valor numérico : 0
Un valor numérico : 2
Un valor numérico : 2
CUECER= 0

7x1=7
7x2=14
IMPRIMIR TABLAS DE MULTIPLICAR

In [13]:
for f in range(1,11): print(f'7 x {f} = {7 * f}')
print(f)

n=7
for i in range(1,11,1):
    x=n*i
    print(f"{n} x {i} = {x}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
10
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [33]:
"""def tabla_multiplicar(x):
    for i in range(11):
        print(x," x ", i, " = ", x*i)
A=int(input("Dame un número entre 1 y 5: "))
if A>0 and A<=5:
else:
    print("Valor fuera de rango 1-5")
if A==1:
    print(tabla_multiplicar(1))
elif A==2:
    print(tabla_multiplicar(2))
elif A==3:
    print(tabla_multiplicar(3))
elif A==4:
    print(tabla_multiplicar(4))
elif: A==5
    print(tabla_multiplicar(5))

B=int(input("Dame un número entre 2 y 10: "))
if B>=2 and B<=10:
else:
    print("Valor fuera de rango 2-10")
if B==2:
    print(tabla_multiplicar(2))
elif B==3:
    print(tabla_multiplicar(3))
elif B==4:
    print(tabla_multiplicar(4))
elif B==5:
    print(tabla_multiplicar(5))
elif B==6:
    print(tabla_multiplicar(6))
elif B==7:
    print(tabla_multiplicar(7))
elif B==8:
    print(tabla_multiplicar(8))
elif B==9:
    print(tabla_multiplicar(9))
elif B==10:
    print(tabla_multiplicar(10))
print("Fin del programa")"

IndentationError: ignored

In [39]:
N1= int(input("Dame un número entre 1 y 5:"))
if N1 > 0 and N1 <= 5:
    N2=int(input("Dame un número entre 2 y 10:"))
    if N2 >= N1 and N2 <=10:
        for i in range( N1, N2+1):
            for j in range(1,11):
                print(f"{i} x {j} = : ", i*j)
            print("--------")
else:
    print("Valor fuera de rango")

Dame un número entre 1 y 5:2
Dame un número entre 2 y 10:3
2 x 1 = :  2
2 x 2 = :  4
2 x 3 = :  6
2 x 4 = :  8
2 x 5 = :  10
2 x 6 = :  12
2 x 7 = :  14
2 x 8 = :  16
2 x 9 = :  18
2 x 10 = :  20
--------
3 x 1 = :  3
3 x 2 = :  6
3 x 3 = :  9
3 x 4 = :  12
3 x 5 = :  15
3 x 6 = :  18
3 x 7 = :  21
3 x 8 = :  24
3 x 9 = :  27
3 x 10 = :  30
--------

In [36]:
#Generadores de listas
numeros = [0,0,0,0,0]
print(numeros)
numeros=[ 0 for x in range(5)]
print(numeros)
#Empleando la variable de control x para el valor inicial 
numeros=[ (x+1)*10 for x in range(10)]
print(numeros)

[0, 0, 0, 0, 0]
[0, 0, 0, 0, 0]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [57]:
#ejercicio: calcular promedio de edades
edades = [(x+18) for x in range(5)]
promedio=sum(edades)/len(edades)
print(promedio)
#ejercicio como lo hicieron mis compañeros
SUM = 0
edades = [0 for x in range(5)]
for x in range(5):
    edades[x]= int(input("Introduce una edad: "))
    SUM = SUM + edades[x]
    PROM = SUM/5
print(edades)
print("El promedio de edades es: ", PROM)

20.0
Introduce una edad: 5
Introduce una edad: 6
Introduce una edad: 7
Introduce una edad: 8
Introduce una edad: 9
[5, 6, 7, 8, 9]
El promedio de edades es:  7.0

In [68]:
import random
print(random.random())
print(random.uniform(5,11))
val = round(random.uniform(5,11), 2)
print(val)

valores=[round(random.uniform(5,11),2) for x in range(20)]
print(valores)
#decir cual es el menor
#decir cual es el valor mas grande
#promedio de valores

0.7951569924102002
7.229537224110873
7.16
[5.63, 7.63, 10.33, 5.48, 8.54, 10.14, 8.37, 9.33, 7.65, 9.7, 5.64, 10.08, 10.74, 5.75, 9.62, 8.69, 5.07, 6.7, 6.42, 8.18]