<a href="https://colab.research.google.com/github/diaanis/fundamentosCyP1157.ipynb/blob/main/fundamentosCyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = 'Jose'  # Tipo de dato String (cadena de caracteres)

print( nombre)

Jose

#Tipo de dato en Python

- str --> String cadena de caract茅res.
- int --> Numero enteros
- float --> Numeros con notaci贸n de punto flotante 
- complex --> Numeros complejos 
- bool -->Boleano (True or False)
- byte --> 8 bits 

### Tipos de datos estructurados (compuestos)
- list --> Listas 
- dict --> diccionarios
- set y frozenset --> Conjuntos 
- tuple --> Listas no mutables

In [ ]:
import sys
edad = 19 
print ( "Tu edad es :" , edad) # al final de una l铆nea de c贸digo 
# este es un comentario de linea simple

"""
comentario de multiple l铆nea
En lenguaje C, C ++ y Java el comentario de multiple linea es con 
/* ..... */

El comentario de una sola linea es con :

//

Aqui puedes explicar en prosa el segmento de un codigo para futura referencia

"""
# tipos de dato numerico int y float

print (sys.getsizeof(edad))
#el tipo de dato INT utiliza diferente cantidad de bits segun el 
# leg de programa por ejemplo en C utilizaria 16 bits

edad = edad + 1

print( edad )

estatura = 1.56
print(sys.getsizeof(estatura))
estatura = estatura + 0.1
print( estatura )
print(round(estatura,2))


edad += 1 #edad = edad + 1 
print( "Tu edad es :", edad)
edad /=2 # edad = edad / 1 
print("La mitad de tu edad es :", edad)

edad = 21
#volver a calcular la mitad de la edad 
#parte entera
edad = edad // 2
print ( "La mitad de tu edad es", edad )

#En la mayoria de los leng no permite operaciones entre 
# diferentes tipos de datos, en python 

numero = edad / 2 
print( numero)

numero *= 3
print(numero )

numero = 5.0
numero = numero **3 #El doble asterisco es potencia y el numero de a lado es a que potencia se va a elevar  
print( numero)

#Operador modulo 
numero = 21
print(numero / 2) # asi se plantea la division en print 
print ( numero//2)

#Operador modulo da como resultado el residuo de una division entera 
print ( numero % 2)

numero= 24 
print("Residuo de 24 / 5:", numero % 5)


#Operadores relacionales(l贸gicos)
print ( numero % 2== 0 )
#Diferencia
print("24 es diferente que 23=", numero !=23)

print( "24 es mayor que 23=", numero > 23 )

print("24 es menor que 23=", numero < 23 )

print("24 es menor o igual que 23", numero <=23
      )

print("El tipo de dato de la var numero es: ", type(numero/2.0))

Tu edad es : 19
28
20
24
1.6600000000000001
1.66
Tu edad es : 21
La mitad de tu edad es : 10.5
La mitad de tu edad es 10
5.0
15.0
125.0
10.5
10
1
Residuo de 24 / 5: 4
True
24 es diferente que 23= True
24 es mayor que 23= True
24 es menor que 23= False
24 es menor o igual que 23 False
El tipo de dato de la var numero es:  <class 'float'>

In [ ]:
nombre = "diana"
carrera = "Ingenieria en computacion"
frase = """ El conocimiento 
me persigue,..
pero
yo soy rapido
"""

print(nombre)
print(carrera)
print(frase)

#La funcion type de Python te devuelve el tipo de dato de una variable 
print(type(nombre))

paterno= str("Moreno")
print( paterno)

diana
Ingenieria en computacion
 El conocimiento
me persigue,..
pero
yo soy rapido

<class 'str'>
Moreno

#Silcing(rebanado) de cadenas
Permite seleccionar subcadenas con el operador
###[inicio : stop : incremento]
El stop no se incluye, es por eso que debemos agregar una posici贸n extra.

### Slicing y valores por defecto 

inicio por defecto siempre ser谩 0
stop: tama帽o del arreglo (index

incremento: es q (indexado positivo)

In [ ]:
carrera = "Ingenier铆a en computaci贸n"
print(carrera[0:10:1])
print(carrera[14:25:1])
#lo mismo pero con indexado negativo
print(carrera[-11: -1 : 1])
print( carrera [:10:])
print(carrera[14:25:])
print(carrera[ -11: :1])
print(carrera[-11: -1 : 1])



#SOLUCION PREVIA 
print("--------")
print( carrera[-11 : -1 : 1])
print( carrera [-11 : : 1])

#Ejercicio para ver incremento 
print( carrera[0:10:2]) #Incremento es los saltos que se daran desde el inicio al stop
print( carrera[-1:-12-1]) #Imprimir una palabra al reves

Ingenier铆a
computaci贸n
computaci贸
Ingenier铆a
computaci贸n
computaci贸n
computaci贸
--------
computaci贸
computaci贸n
Igne铆

#String y sus metodos 
#Todos los tipos de dato en Python son objetos(CLASES de la POO)
###Lo cual significa que tienen atributos y m茅todos
##dir() y help() funciones para obtener ayuda del lenguaje Python 

###dir muestra las funciones de un tipo de dato como resumen 

###Help muestra la misma ayuda pero a detalle 

Metodos que inician con doble guion bajo, son privados de uso interno de la clase y no deberiamos de usarlo

Todos los demas son para uso exterior (usuario)

In [ ]:
frutas =  "  limon , fresa, manzana  , aguacate  "
nombre = "diana"
print(frutas)
dir(frutas) 

print( nombre.capitalize() )
print( nombre.upper() )
print(frutas.replace( 'a' , '4' ).replace('e','3').upper()) 
frutas= frutas.replace( 'a' , '4').replace('e','3').upper()
print(frutas)
print(".-.-.-.-.-.-.-.-.-.-.-.-.-.-.")
frutas =" limon , fresas, manzana , aguacate "
print( frutas.strip())
print( frutas.split()) #Es separado cada elemento por el espacio 
print( frutas.split(',') )
print( frutas)

  limon , fresa, manzana  , aguacate
Diana
DIANA
  LIMON , FR3S4, M4NZ4N4  , 4GU4C4T3
  LIMON , FR3S4, M4NZ4N4  , 4GU4C4T3
.-.-.-.-.-.-.-.-.-.-.-.-.-.-.
limon , fresas, manzana , aguacate
['limon', ',', 'fresas,', 'manzana', ',', 'aguacate']
[' limon ', ' fresas', ' manzana ', ' aguacate ']
 limon , fresas, manzana , aguacate

In [ ]:
dir(str)
help(str.find)#Asi busco el metodo y me dice como se usa

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

#String y caracteres de escape

"Diana"
- \" ---> "
- \' ---> '
- \n ---> Salto de linea(Tecla enter)
- \t ---> tabulador espacios a la izq
- \uxxxx ---> caracteres unicode 16 bits
- \Uxxxxxxxx --> unicode extendido 4 bits

In [ ]:
print("\"diana\" ")
nombre = "\"Diana\" "
print( nombre )
carrera = "Ingenieria \nen \nComputaci贸n" 
print( carrera )
carreras = "Ingenieria \n\ten \n\t\tComputaci贸n" 
print( carreras)
print("\u0065")
print("\u0444")
print("\u0620")
print("\U00010057")
print("\U0001F60E")
print("\U0001F602")
print("\U0001F9A0")

"diana"
"Diana"
Ingenieria
en
Computaci贸n
Ingenieria
	en
		Computaci贸n
e

#Funcion print

### Se emplea para desplegar informaci贸n en la salida estandar Normalmente en un monitor.

-Formas de usar print
-El argumneto por defecto de print(end)-format()
-operador"f"

In [ ]:
nombre = "Diana"
edad = 18
casado = False 
estatura = 1.57

"""
Nombre: Diana
    Edad:18 
    Esta casado : False
    Estatura en metros : 1.67
    """

#1.-Con comas.-Concatena un casting(conversion a string autom谩tica)
#agrega un espacio
print( nombre, edad, casado, estatura )
print("Nombre: " + nombre + "\n\tEdad: "+ str(edad) +" "+str(casado) +"\n\tEsta casado :" )

#2.- con el simbolo de "+"
#concatenacion en crudo 
print( nombre+ str(edad)+ str(casado)+ str(estatura) )

#3.- Dando formato a la salida con format()
print("\nCon la funcion format()")
print(" Nombre : {3}\n\tEdad: {2}\n\tEsta casado : {1}\n\testatura en metros: {0}".format(nombre,edad,casado,estatura))

#4.- con el operador f" "
print("Con el operador f\" \"")
print(f" Nombre : { nombre }\n\tEdad: { edad }\n\tEsta casado : { casado }\n\testatura en metros: {estatura }")

#Como manejar el ARGUMENTO END 
print(f"Hola {nombre}", end="")
print(", Como estas?" , end="\n")

Diana 18 False 1.57
Nombre: Diana
	Edad: 18 False
	Esta casado :
Diana18False1.57

Con la funcion format()
 Nombre : 1.57
	Edad: False
	Esta casado : 18
	estatura en metros: Diana
Con el operador f" "
 Nombre : Diana
	Edad: 18
	Esta casado : False
	estatura en metros: 1.57
Hola Diana, Como estas?

# con una sola funcion print POR LETRA , escribir su primer nombre
k  k
k k
k
k k
k   k

# datos de entrada

Para solicitar los datos del usuario se emplea la funci贸n input, la cual regresa siempre, un tipo de dato string.

In [ ]:
nombre = input("Ingresa tu nombre")
print("Tecleaste:" , nombre )

Ingresa tu nombreDiana
Tecleaste: Diana

# 驴C贸mo capturar datos num茅rico?

Para ello se hace una conversi贸n entre tipos...
casting... consiste en llamar al constructor de la clase deseada

## Ejemplo convertir el string "2" en numero 
### num = int( "2")

In [ ]:
entrada = input("Dame tu edad: ")
edad = int(entrada)
edad += 1 # edad = edad + 1
print("Tu edad es:", edad )

Dame tu edad: 4
Tu edad es: 5

In [ ]:
# lo mismo pero con menos codigo 

edad = int(input("Dame tu edad:"))
print("Tu edad es", edad+1 )

Dame tu edad:4
Tu edad es 5

In [ ]:
estatura = float(input("Dame tu estatura:"))
print("Tu estatura es:", estatura+0.1 )

Dame tu estatura:1.47
Tu estatura es: 1.57

In [ ]:
# inputs de booleans

casado = bool(int(input("Soltero (0) casado (1)")))
print( "casado=", casado)

Soltero (0) casado (1)0
casado= False

#Tipos de datos estructurados de pyton 
1. Listas
2. Tuplas
3. Diccionarios 
4. Conjuntos(opcional)

# Listas 

- Tipo de dato que agrupa variables o valores.
- Estructura secuencial()
- Se declara de dos formas#
- usando []
- usando list ()
- usando un generaador 
- Puede contener tipos de dato diversos (En otros lenguaje de prog. eso no es podible de forma directa)
- Los elementos internos se seleccionan con []
- Soporta slicing 
- SON MUTABLES
- GENERADORES[var for x in range(10)]
- Al ser una clase contiene muchos m茅todos 煤tiles

|

In [ ]:
numeros = [10, 5, 2 , 3 , 1]
print(numeros)

numeros2 = list()
numeros2.append(10)
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)
print(numeros2)
numeros[2] = 20 
print(numeros)
numeros[-1  ] = 33
numeros.append(88)
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33, 88]

In [ ]:
# Tipos diversos 

cosas = [12, 2 , True, "Jos茅" , 1.57 , ["pera", "kiwi", "uva"]]
print(cosas)
print( cosas[1] )
print( cosas [4] )
print( cosas[5] )
print( cosas[5][1] )
print( cosas[3][1:3] )
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'Jos茅', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOS', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros= [1,2,3,4,5,6,7,8,9,10,11]
print(numeros)
# slicing 
# 1.- 4 al 8?
print(numeros[3:8])
# 2.-  [9,10]?
print(numeros[8:10])
print(numeros[-3:-1])
#3.- La lista al reves 
print(numeros[ ::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# crear una lista con un generador
numeros = [ x*3 for x in range(101) ] # ese asterisco por tres hace que vayan de tres en tres 
print(numeros)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# Funcion range()
Tiene los mismos componetes que slicing ,
 ini, stop, incremento 

range(1,101,1)

In [ ]:
numeros = [ x for x in range(50, 101, 2) ]
print(numeros)

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# M茅todos disponibles de las listas

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

- append, anexion a una lista 
- clear, deja lista vacia
- copy, crea una copia de referencia de la lista 
- count, cuenta eleemntos 
- extend, concatenaa listas 
- index, recibe un valor, lo busca y en la primer coincidencia te dice en que indice esta 
- insert, posiscion donde quieres insertar un valor, el valor que quieras insertar 
- pop,  toma el elemento de la derecha, lo quita y lo regresa 
- remove, va a quitar el elemento ymueve a la izquierda 
- reverse, va a poner en orden inverso la lista 
- sort, ordenar de mayor a menor

In [ ]:
numeros = [ 4,1,15,8,22,34,50 ]
print(numeros)
numeros.append(99) #agregar numero
print(numeros)



frutas = ["uvas", "kiwi", "manzana" ]
copia = frutas
print(frutas)
print(copia)
frutas.append(" naranja")
print(frutas)
print(copia)

colores = ["rojo", "azul", "blanco"]
copia2= colores.copy()
print(colores)
print(copia2)
colores.append("verde ")
print(colores)
print(copia2)

print("numero de veces que aparece el 15=", numeros.count(15))

#extend

nombre = ["jose", "pedro", "karina"]
otrosNombres = ["josue", "diana", "dalia"]
nombres = nombre + otrosNombres
print(nombre)
print(otrosNombres)
print("jose esta en la posicion:", nombre.index("jose"))
otrosNombres.insert(4, "Espiritu santo")
print(otrosNombres)

#pop
resultado = otrosNombres.pop
print(otrosNombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50]
[4, 1, 15, 8, 22, 34, 50, 99]
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana']
['uvas', 'kiwi', 'manzana', ' naranja']
['uvas', 'kiwi', 'manzana', ' naranja']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde ']
['rojo', 'azul', 'blanco']
numero de veces que aparece el 15= 1
['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
jose esta en la posicion: 0
['josue', 'diana', 'dalia', 'Espiritu santo']
['josue', 'diana', 'dalia', 'Espiritu santo']
<built-in method pop of list object at 0x7f0bded9cb90>

# Tuplas
### Caracrcteristicas de las tuplas 
- datos agrupados 
- Se declara usando #
       - ()
       - tuple()
-Estructura secuencial, indexada desde 0 
- pueden tener de 0 a n elementos 
- NO SON MUTABLES (NO SE PUEDEN MODIFICAR NI ELIMINAR)
- Son buenas para almacenar informacion de consulta. 
- Pueden almacenar informacion de diferentes tipos de datos.
- Pueden estar anidadas 
- Tienen metodos utiles

In [ ]:
info = ("diana23", "dios1234", "123.232.1.12")
print(info)
print(info[1])
#info[ 1 ] = "patito 23" es algo que no se puede hacer 

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])

cosas = (info, numeros, )
print(cosas)
print(cosas[1][5:11:1])
print(cosas[0][2][4:7])
print(cosas[0][2][-8:-5])

('diana23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('diana23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232
232

# metodos de los tuplas 
### son los mismo de las listas pero los que no involucran mutabilidad

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios 
### caracateristicas de los diccionarios 

- Agrupan datos pero de forma lineal
- se declaran con :
    - {}
    -dict()
- Formado por pares del tipo llave:valor, donde:
     - llave es de tipo string(siempre)
     - Valor puede ser cualquier ripo de datos, incluyendo los diccionarios. 
- Se seleccionan con la llave de la forma [ "id_llave"]
- Son mutables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript(JS)

In [ ]:
alumno = { "nombre" : "Diana" }
print( alumno)
print( alumno["nombre"])
alumno = { "nombre": "Diana" , "nc":"2129229292" , "edad":18}
print( alumno["edad"])
print("Edad del alumno =" , alumno["edad"])
print(alumno["nombre"].upper())

alumno2 = dict() # {}
alumno2["nombre"] = "Diana"
print(alumno2)
alumno2["nc"] = "2129229292"
alumno2["edad"] = 18
print(alumno2)
alumno2["edad"] = alumno2["edad"] + 1
print(alumno2)

{'nombre': 'Diana'}
Diana
18
Edad del alumno = 18
DIANA
{'nombre': 'Diana'}
{'nombre': 'Diana', 'nc': '2129229292', 'edad': 18}
{'nombre': 'Diana', 'nc': '2129229292', 'edad': 19}

In [ ]:
cliente = { "id":"CT2121" ,
           "nombre" : "Diana Moreno S谩nchez" ,
           "telefonos" : "casa=554456565 cel=0445567767"}

print(cliente)

cliente = {"id":"CT2121",
           "nombre":"Jos茅 Eduardo Pedroza Rosales",
           "Tel茅fono":"casa=5544878787 cel:044556767677" }
print(cliente)    
cliente = {"id":"CT2121" ,
           "nombre": {
               "nombres":["Jos茅","Eduardo"],
               "paterno":"Pedroza",
               "materno":"Rosales"
              } ,
           "Tel茅fono": {
               "casa":"5544878787",
               "trabajo":"55-443-3232",
               "celular":"044556767677"
            } 
            }
print(cliente["Tel茅fono"]["casa"])

print(cliente)    
cliente = {"id":"CT2121" ,
           "nombre": {
               "nombres":["Jos茅","Eduardo"],
               "paterno":"Pedroza",
               "materno":"Rosales"
              } ,
           "Tel茅fono": {
               "casa":"5544878787",
               "celular":"044556767677"
            } ,
           "Productos":{
                        "ahorro":{ "numero_cuenta":"7788", "ahorro":2500.5},
                        "t_credito":[
                                     {"tipo":"debito", "saldo":10000.5},
                                     {"tipo":"credito preferente","limite":250000.5},
                                     {"tipo":"lite","limite":15000.5}
                        ] ,
                       "direccion":{"calle":"Av central",
                           "numero":1245,
                           "colonia":"impulsora",
                           "delegaci贸n":"neza",
                           "estado": {
                               "clave de estado":15,
                               "nombre_corto":"EdoMex",
                               "nombre":"Estado de M茅xico"
                           }
                       },
                      
            } #Esto es una lista debido a los productos que maneja un banco
            
            }
print(cliente)


print(cliente["Tel茅fono"]["casa"])
print(cliente)
print(cliente["Productos"]["ahorro"]["ahorro"])
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorro"]["ahorro"]-= 1500.0
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'Diana Moreno S谩nchez', 'telefonos': 'casa=554456565 cel=0445567767'}
{'id': 'CT2121', 'nombre': 'Jos茅 Eduardo Pedroza Rosales', 'Tel茅fono': 'casa=5544878787 cel:044556767677'}
5544878787
{'id': 'CT2121', 'nombre': {'nombres': ['Jos茅', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'Tel茅fono': {'casa': '5544878787', 'trabajo': '55-443-3232', 'celular': '044556767677'}}
{'id': 'CT2121', 'nombre': {'nombres': ['Jos茅', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'Tel茅fono': {'casa': '5544878787', 'celular': '044556767677'}, 'Productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 't_credito': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}], 'direccion': {'calle': 'Av central', 'numero': 1245, 'colonia': 'impulsora', 'delegaci贸n': 'neza', 'estado': {'clave de estado': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de M茅xico'}}}}
5544878787
{'id': 'CT2121', 'nombre': {'nombres': ['Jos茅', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'Tel茅fono': {'casa': '5544878787', 'celular': '044556767677'}, 'Productos': {'ahorro': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 't_credito': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}], 'direccion': {'calle': 'Av central', 'numero': 1245, 'colonia': 'impulsora', 'delegaci贸n': 'neza', 'estado': {'clave de estado': 15, 'nombre_corto': 'EdoMex', 'nombre': 'Estado de M茅xico'}}}}
2500.5

KeyError: ignored

#Estructuras de control de programaci贸n

Se puede crear cualquier tipo de algoritmo empleando solamente 3 estructuras de control:

1. Secuencia: 
 - La representaci贸n de la memoria de programa (Arquitectura Vonn Newman)
  
2. Selecci贸n:
 - Es la estructura de control decide si un bloque de programa se ejecuta o no se ejecuta. Tambi茅n permite seleccionar ejecutar un bloque entre un conjunto de opciones.
    En resumen tenemos : Seleecci贸n simple, selecci贸n con bifurcaci贸n y selecci贸n m煤ltiple.

3. Repetici贸n:
 - Este tipo de estructura nos permite automatizar la ejecuci贸n repetitiva de c贸digo mientras ciertas condiciones cumplan, tenemos 3 variantes de esta estructura en todos los lenguajes de programaci贸n:
  - Desde... hasta (estructura for)
  - haz mientras (estructura While)
  - Haz y luego validez mientras ( estructura Do-While)

# seleccion simple 
-- Documentar, o poner notas 

la estructura if 

```
if <CONDICION>:
    <cUERPO DEL IF>
```

*Nota* Para establecer el cuerpo 

En otros lenguajes de programacion como Java, C y C ++... se usan las llaves{ }

```
int edad =0
printf("Dame tu edad");
scanf("%i", & edad);
if(edad >=18){
  printf("ERES MAYOR DE EDAD");
}
  printf("Fin de programa");
````

In [ ]:
 edad = int(input("Dame tu edad:"))
 print(f"Tecleaste {edad} a帽os")
 if edad >=18 :
    print("ERES MAYOR DE EDAD")
    print("Algo")
print("Otra cosa")
print("Fin de programa")

Dame tu edad:23
Tecleaste 23 a帽os
ERES MAYOR DE EDAD
Algo
Otra cosa
Fin de programa

In [ ]:
CAL = float( input("Dame tu calificacion: "))
if CAL > 8 :
    print("ESTAS APROBADO")
    print("Fin del programa")

Dame tu calificacion: 7.99

In [ ]:
SUE = float(input("Escribe el sueldo: "))
AUM = 0
MSUE = 0

if SUE < 1000 :
    AUM = SUE* 0.15
    MSUE = SUE + AUM 
    print(MSUE)

Escribe el sueldo: 875.50
1006.825

# estructura de seleccion con bifurcacion (if-else)

Esta estructura selecciona una de dos opciones de ejecuci贸n, se ejecuta un bloque si la condici贸n se cumple o se ejecuta otro bloque si la condici贸n no se cumple(else).

```
if <condicion> :
   <bloque de ejecuci贸n>
else:
   <bloque de ejecuci贸n alterno>
   
```

In [ ]:
edad = int(input("Dame tu edad:"))
print(f"Tecleaste {edad} a帽os")
if edad >=18:
    print("Eres mayor de edad, ten t煤 cheve ")
else:
    print("Eres menor de edad, ten t煤 Boing")
print("fin del programa") #Que este pegado a la izquierda es que forma parte del programa principal y siempre va a estar

Dame tu edad:18
Tecleaste 18 a帽os
Eres mayor de edad, ten t煤 cheve
fin del programa

In [ ]:
# Este lo hice yo 
edad = int(input("Dame tu edad:"))
print(f"Tecleaste {edad} a帽os")
if edad >=18:
    print("Eres mayor de edad, ten t煤 cheve ")
else:
    print("Eres menor de edad, ten t煤 Boing")
dinero = float(input("驴Cu谩nto dinero tienes?:"))
if dinero >=36:
   print("Tienes el dinero suficiente")
else:
     print("No tienes el dinero suficiente ")
print("Fin del programa")

#   Este es 
edad = int (input("Dame tu edad:"))
dinero = int (input("驴Cu谩nto dinero tienes?"))
if edad >= 18:
    if dinero >=35:
        print("Eres mayor de edad y tienes dinero, ten tu cheve")
    else:
        print("No tienes suficiente dinero")
else:
    print("Eres menor de edad, ten tu Boing")
print("Fin del programa")

Dame tu edad:16
Tecleaste 16 a帽os
Eres menor de edad, ten t煤 Boing
驴Cu谩nto dinero tienes?:40
Tienes el dinero suficiente
Fin del programa
Dame tu edad:18
驴Cu谩nto dinero tienes?1
No tienes suficiente dinero
Fin del programa

In [ ]:
calificacion = float(input("Dame tu calificacion:"))
print(f"Tecleaste {calificacion} ")
if calificacion >=8:
    print("Aprobado ")
else:
    print("Reprobado")

Dame tu calificacion:7.99
Tecleaste 7.99
Reprobado

In [ ]:

SUE = float(input("Escribe el sueldo: "))
AUM = 0 
NSUE = 0

if SUE < 1000.0 :
    AUM = SUE* 0.15
    NSUE = SUE + AUM
else:
    AUM= SUE*0.12
    NSUE = SUE + AUM
print(f"Tu nuevo sueldo es: {NSUE}")

Escribe el sueldo: 1000
Tu nuevo sueldo es: 1120.0

#Ejercicio if-else
### Hacer un programa que solicire el d铆a de la semana en un valor numerico entero del 1-7 (Avisarle al usuario si proporciono un valor fuera del rango 

### Posteriormente imprimir谩 el dia de la semana correspondiente al numero acordado

In [ ]:
numero = int(input("Dame un valor del 1 al 7.   "))
if numero == 1:
    print("Hoy es lunes")
elif numero == 2:
    print("Hoy es Martes")
elif numero == 3:
    print("Hoy es Miercoles")
elif numero == 4:
    print("Hoy es Jueves")
elif numero == 5:
    print("Hoy es viernes")
elif numero == 6:
    print("Hoy es Sabado")
elif numero == 7:
    print("Hoy es Domingo")

else:
    print("el valor no est谩 en el parametro")

Dame un valor del 1 al 7.   9
el valor no est谩 en el parametro

In [ ]:
dia = int( input("Ingresa un numero entre 1 y 7:  "))
print(f"Capturaste el numero {dia} ")

if dia >=1 and dia <= 7:
    if dia == 1:
        print("Lunes")
    else:
        if dia ==2:
            print("Martes")
        else:
            if dia == 3:
                print("Miercoles")
            else:
                if dia == 4:
                    print("Jueves")
                else:
                    if dia == 5:
                        print("Viernes")
                    else:
                        if dia == 6:
                            print("S谩bado")
                        else:
                            print("Domingo")
                        
else:
    print("Ese numero no esta dentro del rango solicitado")

Ingresa un numero entre 1 y 7:  5
Capturaste el numero 5
Viernes

# Hacer un programa que pida dos numeros enteros y que imprima en pantalla lo siguiente:
1.Cual de ellos es el numero mayor
2.Cual de ellos es el numero menos 
o en su defecto 
Imprimir que los valores son iguales

#Hacer un programa que slicite 3 numeros enteros diferentes entre si y que imprima cual de los 3 es el mayor 

#Hacer un programa que solicite 3 numeros enteros diferentes entre si y que imprima cual de los 3 es el menor 

# Hacer un programa que solicite 4 n numeros enteros diferentes entre si y que imprima cual de los  4es el mayor 

# Hacer un programa de 4  numeros enteros diferentes entre si y que imprima cual de los 4 es el menor

In [ ]:
NUM = int(input("Dame un valor entre 1 y 3: "))
V= float(input("Dame un valor float "))
VAL= 0
if NUM == 1:
    VAL == 100 * V 
elif NUM == 2:
    VAL = 100 ** V 
elif NUM ==3 :
    VAL = 0 
print(VAL)

Dame un valor entre 1 y 3: 2
Dame un valor float 3
1000000.0

In [ ]:
3CATE = int(input("Introduce la categor铆a: "))
SUE = float(input("Introduce una categor铆a: "))

if CATE == 1:
    SUE = SUE * 1.15;
elif CATE == 2:
    SUE = SUE * 1.10;
elif CATE == 3:
    SUE = SUE * 1.08;
elif CATE == 4:
    SUE = SUE * 1.07;

Introduce la categor铆a: 1
Introduce una categor铆a: 2

# # Selecci贸n m煤ltiple (switch)
# En python no existe la estructura de selecci贸n switch, en su lugar se emplea la palabra reservada:
# - elif

# Por ejemplo en el lenguaje C y Java ser铆a de la forma:
# float SUE= 0.0;
# int CATE = 0;

# printf("Introduce la categor铆a")
# scanf("%i", &CATE);

# switch(CATE){
#     case 1:
#         SUE = SUE * 1.15;
#         break;
#     case 2:
#         SUE = SUE * 1.15;
#         break;   
#     case 3:
#         SUE = SUE * 1.15;
#         break;
#     case 4:
#         SUE = SUE * 1.15;
#         break;
#     case 5:
#         SUE = SUE * 1.15;
#         break;
# }

# printf("Categor铆a = %i, Sueldo= %f")

In [ ]:
A=int(input("Dame un primer numero entero: "))
B=int(input("Dame un segundo numero entero diferente: "))
C=int(input("Dame un tercer numero entero diferente: "))

if A==B==C or A==B or A==C or B==C:
    print("ALGUNOS NMEROS SON IGUALES, DEBEN SER 3 NUMEROS DIFERENTES")
if A>B:
    if A>C: 
        if B>C:
            print("ORDEN MAYOR A MENOR : ",A, B, C)
        else:
            print("ORDEN MAYOR A MENOR : ",A, C, B)
    else: print("ORDEN MAYOR A MENOR : ",C, A, B)
else:
    if B>C: 
    
        if A>C:
            print("ORDEN MAYOR A MENOR : ",B, A, C)
        else:
            print("ORDEN MAYOR A MENOR : ",B, C, A)
    else: print("ORDEN MAYOR A MENOR : ",C, B, A)

print("--FIN DEL PROGRAMA--")

Dame un primer numero entero: 1
Dame un segundo numero entero diferente: 2
Dame un tercer numero entero diferente: 3
ORDEN MAYOR A MENOR :  3 2 1
--FIN DEL PROGRAMA--

In [ ]:
#problema8
TIPOENP = int(input("Introduce el tipo de enfermedad:"))
EDAD = int(input("Introduce la edad:"))
DIAS = int(input("Introduce el n煤mero de d铆as:"))
COSTO = 0.0

if TIPOENP == 1:
    COSTO = DIAS * 25.0
  elif TIPOENP ==2:
        COSTO = DIAS * 16.0
 elif TIPOENP ==3:
     COSTO = DIAS * 32.0
    
 if EDAD>= 14 and EDAD <= 22:
        COSTO = COSTO *1.10
    
print("Costo total -$",COSTO)
print(f"Se pago {COSTO} pesos por {DIAS} dias de estancia ")
print("Se pago", COSTO, "pesos por",DIAS, "dias de estancia")

IndentationError: ignored